* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 100%;
    margin-top: 1rem;
}
th {
    border: 1px solid black;
}
tr,th {
    padding: 3px;
}
button {
    font-size: 1rem;
    padding: 0.3rem;
}